@-webkit-keyframes SlideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
    z-index: 900; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 900;
    opacity: 1; } }
    
@keyframes SlideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    z-index: 900;
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 900;
    opacity: 1; } }
    
    
 .classname {
-webkit-animation: tangramSlideInDown .3s forwards;
          animation: tangramSlideInDown .3s forwards;
}
